body{
    background-color: rgb(20, 20, 20);
    background-image: url(https://i.pinimg.com/originals/57/61/5b/57615b8c0092a66c1d4058b1692955cc.gif);
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 1px rgb(20, 20, 20);
    font-family: helvetica, arial, sans-serif;

}
.button {
    color: white;
    padding: 8px 15px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: #252525;    
}